.about {
}
.about-container {
  @media screen and(min-width:768px) {
    display: flex;
    justify-content: space-between;
  }
  @media screen and(min-width:1200px) {
    justify-content: start;
    gap: 64px;
  }
}
.about-list {
  @extend %list;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and(max-width:767px) {
    display: none;
  }
  @media screen and(min-width:1200px) {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  &__item {
    // max-width: 330px;
    // max-height: 235px;
  }
}

.about-wrap {
  @media screen and(min-width:768px) {
    max-width: 330px;
  }
  @media screen and(min-width:1200px) {
    max-width: 500px;
  }
}
.about__pre-title {
  margin-bottom: 20px;
  color: $color-second-title;
}
.about__second-title {
  margin-bottom: 20px;
  @media screen and(min-width:1200px) {
    @include font($fw: 700, $fz: 42px, $lh: 1.17, $ls: 0.05em);
  }
}
.about__after-title {
  margin-bottom: 20px;
  color: $color-main-text;
}

.about__text {
  margin-bottom: 40px;
  @include font($fw: 400, $fz: 14px, $lh: 1.86, $ls: 0.02em);
  color: $color-main-text;
  @media screen and(min-width:1200px) {
    padding-right: 20px;
  }
}
