.contacts {
  padding: 84px 0px 84px 0px;
  background-color: #191c26;
}
.contact-container {
}

.contacts-title {
  margin-bottom: 40px;
  text-align: center;
  @include font($fw: 700, $fz: 42px, $lh: 1.17, $ls: 0.05em);
  color: #ffffff;
}

.contact-list {
  list-style: none;
  margin-bottom: 44px;
}
.contact-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.contact-list__link {
  @include font($fw: 400, $fz: 18px, $lh: 1.67, $ls: 0.02em);
  color: #9da4bd;
}
.contacts-bottom-title {
  margin-bottom: 20px;
  @include font($fw: 400, $fz: 11px, $lh: 1.36, $ls: 0.1em);
  text-transform: uppercase;
  color: #ffffff;
}
.contacts-bottom-text {
  @include font($fw: 400, $fz: 18px, $lh: 1.67, $ls: 0.02em);
  color: #9da4bd;
}
