.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  @extend %list;
  display: flex;
  align-items: center;
  gap: 24px;

  @media screen and(max-width:767px) {
    display: none;
  }
  @media screen and(min-width:1200px) {
    gap: 40px;
  }
}

.nav__link {
  display: block;
  @extend %link;
  color: $color-fourth-text;
  color: #ffffff;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}
