.nav__list {
  @extend %list;
  display: flex;
  gap: 24px;

  @media screen and(max-width:767px) {
    display: none;
  }
}

.nav__link {
  @extend %link;
  @include font($fw: 600, $fz: 12px, $lh: 1.33, $ls: 0.1em);
  color: $color-fourth-text;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;

  color: #ffffff;
}
