$color-main-title: #ffffff;
$color-second-title: #303030;
$color-main-text: #555555;
$color-second-text: rgba(157, 164, 189, 0.6);
$color-third-text: #9da4bd;
$color-fourth-text: #303030;
$color-accent: #ff6c00;
$color-main-btn: #ffffff;
$color-second-btn: #303030;
$color-header-text: #fffffff;
